body {
    margin: 0;
}
.navspan {
    padding-left: 20px;
    padding-right: 50px;
}
.item-card{
    margin: 20px;
}

.search-bar {
    padding-left: 8px;
    padding-bottom: 20px; 
}

.category-filter {
    padding-left: 6px;
}

li {
    list-style: none;
}

